<div>
    <h2 id="page-heading">
        <span>Servings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servings" [routerLink]="['/servings/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Servings
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="servings?.length === 0">
        <span>No servings found</span>
    </div>
    <div class="table-responsive" *ngIf="servings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>Prepared</span></th>
            <th><span>Served</span></th>
            <th><span>Quantity</span></th>
            <th><span>Order</span></th>
            <th><span>Dish</span></th>
            <th><span>Attendant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servings of servings ;trackBy: trackId">
                <td><a [routerLink]="['/servings', servings.id, 'view' ]">{{servings.id}}</a></td>
                <td>{{servings.identifier}}</td>
                <td>{{servings.prepared}}</td>
                <td>{{servings.served}}</td>
                <td>{{servings.quantity}}</td>
                <td>
                    <div *ngIf="servings.orderId">
                        <a [routerLink]="['../orders', servings.orderId , 'view' ]" >{{servings.orderIdentifier}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="servings.dishId">
                        <a [routerLink]="['../dishes', servings.dishId , 'view' ]" >{{servings.dishIdentifier}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="servings.attendantId">
                        <a [routerLink]="['../attendants', servings.attendantId , 'view' ]" >{{servings.attendantIdentifier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/servings', servings.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/servings', servings.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'servings', { outlets: { popup: servings.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
