<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="esuriits">
            <h2><span>Esuriits</span> {{esuriits.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{esuriits.identifier}}</span>
                </dd>
                <dt><span>Center</span></dt>
                <dd>
                    <div *ngIf="esuriits.centerId">
                        <a [routerLink]="['/centers', esuriits.centerId, 'view']">{{esuriits.centerIdentifier}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/esuriits', esuriits.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
