<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attendants">
            <h2><span>Attendants</span> {{attendants.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{attendants.identifier}}</span>
                </dd>
                <dt><span>Outlet</span></dt>
                <dd>
                    <div *ngIf="attendants.outletId">
                        <a [routerLink]="['/outlets', attendants.outletId, 'view']">{{attendants.outletIdentifier}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attendants', attendants.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
