<div>
    <h2 id="page-heading">
        <span>Dishes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dishes" [routerLink]="['/dishes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Dishes
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dishes?.length === 0">
        <span>No dishes found</span>
    </div>
    <div class="table-responsive" *ngIf="dishes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>Takeaway</span></th>
            <th><span>Servings</span></th>
            <th><span>Menu</span></th>
            <th><span>Item</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dishes of dishes ;trackBy: trackId">
                <td><a [routerLink]="['/dishes', dishes.id, 'view' ]">{{dishes.id}}</a></td>
                <td>{{dishes.identifier}}</td>
                <td>{{dishes.takeaway}}</td>
                <td>{{dishes.servings}}</td>
                <td>
                    <div *ngIf="dishes.menuId">
                        <a [routerLink]="['../menus', dishes.menuId , 'view' ]" >{{dishes.menuIdentifier}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dishes.itemId">
                        <a [routerLink]="['../items', dishes.itemId , 'view' ]" >{{dishes.itemIdentifier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dishes', dishes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dishes', dishes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dishes', { outlets: { popup: dishes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
