<div>
    <h2 id="page-heading">
        <span>Centers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-centers" [routerLink]="['/centers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Centers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="centers?.length === 0">
        <span>No centers found</span>
    </div>
    <div class="table-responsive" *ngIf="centers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let centers of centers ;trackBy: trackId">
                <td><a [routerLink]="['/centers', centers.id, 'view' ]">{{centers.id}}</a></td>
                <td>{{centers.identifier}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/centers', centers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/centers', centers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'centers', { outlets: { popup: centers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
