<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-foodcourts-heading">Create or edit a Foodcourts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifier">Identifier</label>
                    <input type="text" class="form-control" name="identifier" id="field_identifier"
                           formControlName="identifier"/>
                    <div *ngIf="editForm.get('identifier').invalid && (editForm.get('identifier').dirty || editForm.get('identifier').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identifier').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imageContentType').value, editForm.get('image').value)">open</a><br>
                            <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({image: null});editForm.patchValue({imageContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_center">Center</label>
                    <select class="form-control" id="field_center" name="center" formControlName="centerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="centersOption.id" *ngFor="let centersOption of centers; trackBy: trackCentersById">{{centersOption.identifier}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
