<div>
    <h2 id="page-heading">
        <span>Foodcourts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-foodcourts" [routerLink]="['/foodcourts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Foodcourts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="foodcourts?.length === 0">
        <span>No foodcourts found</span>
    </div>
    <div class="table-responsive" *ngIf="foodcourts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>Image</span></th>
            <th><span>Center</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foodcourts of foodcourts ;trackBy: trackId">
                <td><a [routerLink]="['/foodcourts', foodcourts.id, 'view' ]">{{foodcourts.id}}</a></td>
                <td>{{foodcourts.identifier}}</td>
                <td>
                    <a *ngIf="foodcourts.image" (click)="openFile(foodcourts.imageContentType, foodcourts.image)">open</a>
                    <span *ngIf="foodcourts.image">{{foodcourts.imageContentType}}, {{byteSize(foodcourts.image)}}</span>
                </td>
                <td>
                    <div *ngIf="foodcourts.centerId">
                        <a [routerLink]="['../centers', foodcourts.centerId , 'view' ]" >{{foodcourts.centerIdentifier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/foodcourts', foodcourts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/foodcourts', foodcourts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'foodcourts', { outlets: { popup: foodcourts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
